* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
footer {
  height: 100px;
  border: 2px solid red;
}

main {
  min-height: 600px;
  background-color: blanchedalmond;
  margin: 10px;
}

ul {
  list-style: none;
  text-align: right;
}

li {
  display: inline-block;
  border: 2px solid brown;
  border-radius: 0 10px;
  padding: 10px;
  margin: 15px;
  width: 10%;
  border-radius: 2, 5%;
  background-color: beige;
  text-align: center;
}

li a:link {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  padding: 5px;
}

li a:visited {
  color: rgb(190, 101, 101);
}

li:hover {
  background-color: bisque;
  border: 2px rgb(74, 8, 8);
  border-radius: 0 10px;
}

figure {
  text-align: center;
  justify-content: space-evenly;
}

img {
  margin: 25px 70px;
  height: 300px;
}

.colona {
  border: 2px solid green;
  display: flex;
  justify-content: space-evenly;
}

.colona div {
  border: 2px solid red;
  width: 25%;
}

h1 {
  border: 2px solid brown;
  border-radius: 0 10px;
  width: 25%;
  margin: auto;
  text-align: center;
  color: brown;
}

footer {
  text-align: right;
}

footer a {
  text-decoration: none;
  padding: 5px;
  padding: 10px;
}

ion-icon {
  font-size: 33px;
  color: rgb(210, 29, 60);
  margin-top: 29px;
}
