<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../css/style.css" />
    <title>Nägel</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="./index.html">Startseite</a></li>
          <li><a href="./design.html">Design</a></li>
          <li><a href="./kontakt.html">Kontakt</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>NÄGEL</h1>

      <figure>
        <img src="./../img/multi-farben.jfif" alt="gel" />
        <img src="./../img/pink-nägel.jfif" alt="schellac" />
        <img src="./../img/stern-nägel.jfif" alt="acryl" />
      </figure>
      <section>
        <!--<div> class colona</div> hier muss man mit versuchen -->
        <div class="colona">
          <div>
            <h2>GEL</h2>
            <p>
              Gel hat als Erstes die Beautywelt erobert, dann kamen erst Acryl,
              Shellac und Co. Worin die Gel-Maniküre punktet? Ganz klar durch
              ihren Härtegrad, da sie dem Naturnagel durch die Dicke des Gels
              eine Art Zusatzstärke bietet. Zuerst wird dein Naturnagel mit
              einer Feile gebuffed und Unebenheiten und sonstige Rückstände
              werden entfernt. Im Anschluss wird das Gel in einer UV-Lampe mit
              LED-Licht erhärtet. Dieser Prozess dauert oft weniger als 30
              Sekunden, danach ist die Gelschicht auf deinem Naturnagel erhärtet
              und getrocknet. Ein Hit bei dünnen bzw. schwachen Nägeln und vor
              allem dann, wenn man die Nägellänge über einen längeren Zeitraum
              aufbauen möchte.
            </p>
          </div>

          <div>
            <h2>SHELLAC</h2>
            <p>
              Sowohl CND Shellac als auch OPI verlieren einfach nicht an
              Hypefaktor. Warum ist diese Art der Maniküre so beliebt? Shellac
              ist ein Hybrid zwischen klassischem Nagellack und Gel und ist
              bekannt für das natürlichste Ergebnis. Es Erwird relativ dünn
              aufgetragen, deshalb fühlt er sich auf den Fingern leicht an. Der
              Erhärtungsprozess bei Shellac gleicht dem einer Gel-Maniküre. Auch
              hier kommen beide Hände für den Trocknungsprozess unter die
              UV-Lampe. Eine Shellac-Maniküre ist allerdings nichts für
              Mani-Liebhaber mit langen Nägeln: Bei Shellac ist dies aufgrund
              der dünnen Modellage leider nicht erzielbar. Wenn du auf der Suche
              nach einer Mani-Art bist, die einem Nagellack gleicht und
              obendrein noch bis zu zwei Wochen hält, dann ist Shellac die
              richtige Wahl.
            </p>
          </div>

          <div>
            <h2>ACRYL</h2>
            <p>
              Wenn es etwas gibt, das noch widerstandsfähiger ist als Gel, dann
              ist es Acryl. Speziell bei brüchigen und dünnen Nägeln kann eine
              Acrylnagelmodellage von Vorteil sein. Das Material ist nicht nur
              sehr widerstandsfähig, sondern erlaubt auch eine dünnere
              Modellage. Ganz anders als bei der Gel-Maniküre ist Acryl kein
              Fertigprodukt, das heißt, es wird ein Acrylat, das von der
              Nageltechnikerin während der Manikürebehandlung angemischt wird,
              aufgetragen. Noch dazu wird Acryl größtenteils auf Nail-Extensions
              anstatt direkt auf den Naturnagel aufgetragen, man kann die
              Nagellänge also wählen, wie man möchte. Während die Gel-Maniküre
              unter der UV-Lampe erhärtet, trocknet Acryl Schicht für Schicht an
              der Luft und erfordert keine weitere Zusatzbehandlung. Das
              Ergebnis ist optisch von einer Gel-Maniküre kaum zu unterscheiden.
            </p>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <a href="#">
        <ion-icon name="logo-facebook"></ion-icon>
      </a>
      <a href="#">
        <ion-icon name="logo-instagram"></ion-icon>
      </a>
      <a href="#">
        <ion-icon name="logo-twitter"></ion-icon>
      </a>
    </footer>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
